.Notes-box {
  background-color: lavender;
  padding: 20px;
  width: 400px;
  height: 600px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  border: 3px solid #000000ad;
  border-radius: 15px;
  box-shadow: 8px 12px 30px 8px rgba(73, 71, 71, 0.822);
}
