@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
.taskscompleted-card {
  position: absolute;
  background-color: lavender;
  border: 3px solid #000000ad;
  border-radius: 15px;
  box-shadow: 15px 15px 50px 10px rgba(37, 36, 36, 0.822);
  padding: 15px;
  top: 45px;
  left: 530px;
  width: 400px;
  height: 600px;
}
.header-text {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.tasks {
  border: 3px solid #000000ad;
  border-radius: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 2px;
}

.text {
  text-align: center;
}

.taskmap {
  padding: 10px;
  border: 3px solid #000000ad;
  border-radius: 10px;
  word-break: break-all;
  line-height: 1.5;
  font-family: "Roboto Slab", serif;
  overflow: scroll;
  height: 400px;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background: #f1f1f1;
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: red; */
  border-radius: 10px;
  background: rgb(167, 167, 167);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
