.App {
  display: flex;
  margin: 5px;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  background-color: azure;
  /* background-image: linear-gradient(
    to right bottom,
    #051937,
    #00466d,
    #007aa0,
    #00b2c9,
    #12ebe5
  ); */
}
