.taskscompleted-area {
  position: absolute;
  background-color: lavender;
  border: 3px solid #000000ad;
  border-radius: 15px;
  padding: 15px;
  top: 45px;
  left: 530px;
  width: 400px;
}
.header {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.tasks {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
