.Tasks-card {
  background-color: lavender;
  padding: 15px;
  border-radius: 15px;
  width: 400px;
  height: 600px;
  border: 3px solid #000000ad;
}

.Tasks-card-label {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.Tasks-body {
  font-size: 10px;
}

.task-label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.input {
  /* align-items: center; */
  margin: 1px;
  text-align: center;
  border: 3px solid #000000ad;
}
